* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
section {
  width: 250px;
  background-color: aqua;
  margin: 100px auto;
  padding: 50px;
  box-shadow: 0 0 100px gold;
}
h1 {
  color: mediumspringgreen;
  text-shadow: 0 0 2px black;
}
p {
  margin-top: 20px;
}
div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
button {
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: gold;
}
